@import "./variables.scss";

#home {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(52, 72, 93);
    background: linear-gradient(22deg,
            rgb(194, 194, 194) 20%,
            rgb(241, 13, 13) 50%,
            rgb(161, 86, 184) 100%);

    .bg {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: .5;
        object-fit: cover;
    }
}

.part {
    position: relative;
    overflow: hidden;
}

.app-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.app-wrapper-desktop {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;

    @media screen and (min-width: 760px) {
        width: 85%;
        height: 90%;
        border-radius: .6rem;
        border: solid .1rem rgba(136, 152, 170, .12);
        box-shadow: 0 0 1rem .1rem $secondary-shadow-color;
        overflow: hidden;
    }
}

.app-inside {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(239, 242, 247);
}

.app-drawer {
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.app-sidebar {
    position: relative;
    width: 100%;
}

// .app-sidebar-desktop.border {
//     border-right: solid 0.063rem rgb(224, 232, 241);
// }

.chat-room.app-sidebar {
    flex: 1 1 100%;
}

.chat-room .app-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    // flex: 1 1 100%;
}

.chat-room .app-content-desktop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    // flex: 1 1 100%;
}

.chat-room .app-drawer .app-content-desktop {
    flex: 1 1 100%;
}

.chat-room .app-drawer .app-info {
    flex: 0 0 0%;
}

.panel {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.sidebar {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.app-content {
    top: 0;
    left: 0;
    position: relative;
    width: 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.app-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: solid 0.063rem rgba(136, 152, 170, .12);
    z-index: 10;
}

.info {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.two .app-sidebar-desktop {
    width: 100%;
    min-width: 350px;
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@media screen and (min-width: 760px) {
    .chat-room .app-content-desktop {
        position: relative;
        flex: 1 1 auto;
    }

    .two .app-sidebar-desktop {
        flex: 0 0 25%;
    }

    .two .app-content-desktop {
        flex: 1 1 auto;
    }

    .three .app-sidebar-desktop {
        flex: 0 0 25%;
    }

    .three .app-content-desktop {
        flex: 0 0 50%;
    }

    .three .app-info-desktop {
        flex: 0 0 25%;
        border-left: solid 0.063rem rgba(136, 152, 170, .12);
    }
}