@import "../variables.scss";

#create-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
    background-color: white;
    border-right: solid 0.063rem rgb(224, 232, 241);
    pointer-events: auto;
}

._container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

// ===================== Header =======================

.header {
    position: relative;
    flex: 0 0 3.6rem;
    order: 1;
    background-color: $info-color;
    border-bottom: solid 0.063rem rgba(136, 152, 170, .12);
}

.header-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
}

.back-button {
    color: $secondary-color;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 22px;

    i {
        animation-duration: .3s;
        transform: rotate(90deg)
    }
}

.title {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    color: $secondary-color;
    line-height: 100%;

    .main {
        margin-top: .8rem;
        align-self: flex-end;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .sub {
        margin-top: .4rem;
        font-size: .82rem;
    }
}

.control-box {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.button-box {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-left: .2rem;
}

// ===================== Body =======================

.content {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    order: 2;
    overflow: hidden;
}

.group-profile-box {
    position: relative;
    flex: 0 0 6rem;
    display: flex;
    flex-direction: column;
}

.desc-box {
    position: relative;
    width: 100%;
    display: flex;
    flex: 0 0 4rem;
    margin-top: .4rem;
}

.avatar-inbox-panel {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 0 .8rem;
}

.avatar-inbox {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    box-shadow: 0 .15rem .6rem -.2rem rgba(0, 0, 0, .8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: transparent;
    }

    .avatar-defualt {
        position: absolute;
        height: 1.2rem;
        width: 1.2rem;
        fill: $secondary-color;
    }
}

.brows-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#profile {
    display: none;
}


._control {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    overflow: hidden;
    margin-right: 1rem;
}

.input-box {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1rem;
    border-bottom: solid .08rem rgb(163, 163, 163);
}

.input {
    position: relative;
    flex: 1 1 auto;
    outline: none;
    font-size: 1rem;
    border: none;
    outline: none;
    padding-top: .5rem;
    height: 1.5rem;
    color: $secondary-color;
    margin-bottom: .2rem;

    &::selection {
        background: rgb(238, 138, 138)
    }
}

.input-border {
    border-bottom: solid .1rem rgb(228, 38, 38);
}

.icbox {
    position: relative;
    height: 100%;
    flex: 0 0 1rem;
    box-sizing: border-box;
}

.ico-box {
    font-size: .9rem;
    color: #EB5050;
    text-align: right;
}

.desc-button-box {
    flex: 1 1 2.8rem;
    display: flex;
    align-items: flex-start;
    padding: 0 1rem;

    ._title {
        font-size: .85rem;
        color: $secondary-color;
    }
}

.btn-done {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1rem;
    bottom: -1.1rem;
    padding: .6rem;
    border-radius: 50%;
    background-color: $primary-color;

    i {
        color: white;
        font-size: 1.6rem;
        font-weight: 900;
    }
}

.participant-box {
    flex: 1 1 auto;
    background-color: #fbfbfb;
}

.participant-title {
    padding: .8rem 1rem;
    height: 3rem;
    color: $secondary-color;
}


// ===================== Member Section =============

.members-section {
    position: relative;
    flex: 0 0 auto;
    order: 2;
    overflow: hidden;
    border-top: solid 0.063rem rgba(136, 152, 170, .12)
}

.members-box {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-height: 10rem;
    overflow: auto;
}

// [contenteditable=true]:empty:before {
//     content: attr(placeholder);
//     display: block;
//     color: $secondary-color;
// }