@import "../variables.scss";

#side-index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: white;
    border-right: solid 0.063rem rgb(224, 232, 241);
}

.side-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* ================================== header ========================== */

.header {
    position: relative;
    flex: 0 0 3.6rem;
    order: 1;
    background-color: #F7FAFC;
}

.mobile>.header {
    border-bottom: solid 0.063rem rgba(136, 152, 170, .12);
}

.header-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: .3rem .8rem;
}

.avatar-box {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    //box-shadow: 0 .21rem .6rem -.25rem rgba(0, 0, 0, .8);
    background-color: rgb(231, 237, 241);
    box-shadow: 2px 2px 6px rgba(163, 177, 198, 0.6), -3px -3px 1px rgba(255, 255, 255, 1);

    .avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .avatar-default {
        width: 1.3rem;
        height: 1.3rem;
    }
}

.user-detail-box {
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: .6rem;
}

.name-box {
    font-size: 1rem;
    font-weight: 600;
    color: $secondary-color;
}

.status-box {
    font-size: .8rem;
    font-style: italic;
    color: $secondary-color;
}

.control-box {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    height: 100%;
}

.button-box {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-left: .2rem;
}

.ico-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: .4rem;
    border-radius: 50%;
    transition: all .2s;
}

.ico-box>.material-icons {
    color: $primary-color;
}

.mobile>.header>.header-box>.control-box>.button-box>.ico-box:active {
    background-color: rgba(239, 83, 83, .3);
}

.desktop>.header>.header-box>.control-box>.button-box>.ico-box:hover>.material-icons {
    color: $primary-color;
}

.desktop>.header>.header-box>.control-box>.button-box>.ico-box:active {
    background-color: rgba(239, 83, 83, .3);
}

.search-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $info-color;
    border-bottom: solid 1px $border-color;
}

.search-icon-box {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.search-input-box {
    position: relative;
    flex: 1 1 auto;
}

.search {
    position: relative;
    width: 100%;
    height: 2rem;
    padding: .1rem 1rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    outline: none;
}

.material-icons {
    color: $secondary-color;
    line-height: 100%;
    font-size: 1.4rem !important;
}



/* =================================== content ======================= */

.mobile>.content {
    order: 2;
    position: relative;
    flex: 1 1 auto;
    background-color: white;
    overflow: hidden;
}

.desktop>.content {
    order: 3;
    position: relative;
    flex: 1 1 auto;
    background-color: white;
    overflow: hidden;
}

/* =================================== tab ========================== */

.mobile>.tab {
    order: 3;
    position: relative;
    flex: 0 0 3rem;
    background-color: #F7FAFC;
}

.desktop>.tab {
    order: 2;
    position: relative;
    flex: 0 0 3rem;
    background-color: #F7FAFC;
}

.mobile>.tab>.tab-box,
.desktop>.tab>.tab-box {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.tab-items {
    flex: 1 1 auto;
    padding: .4rem .6rem;
    color: $secondary-color;
    transition: all .2s;
}

.mobile>.tab>.tab-box>.tab-items:active>.item>.item-text,
.mobile>.tab>.tab-box>.tab-items:active>.item>.material-icons {
    color: rgba(239, 83, 83, .3);
}

.desktop>.tab>.tab-box>.tab-items:hover>.item>.item-text,
.desktop>.tab>.tab-box>.tab-items:hover>.item>.material-icons {
    color: $primary-color;
}

.desktop>.tab>.tab-box>.tab-items:active>.item>.item-text,
.desktop>.tab>.tab-box>.tab-items:active>.item>.material-icons {
    color: rgba(239, 83, 83, .3);
}

.tab-active>.item>.material-icons,
.tab-active>.item>.item-text {
    color: $primary-color;
}

.tab-items>.item {
    display: flex;
    flex-direction: column;
    justify-content: ce nter;
    align-items: center;
}

.item {
    position: relative;

    .number {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .65rem;
        color: white;
        z-index: 1;
        background-color: $primary-color;
        border-radius: 2rem;
        border: solid .1rem white;
        transform: translate(.7rem, -.2rem);
        line-height: 100%;

        span {
            padding: .20rem .30rem;
        }
    }

    .item-text {
        margin-top: .2rem;
        font-size: .8rem;
    }
}

[role="button"] {
    cursor: pointer;
    -webkit-tap-highlighst-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}


@keyframes clickeffect {
    from {
        opacity: 0.7;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(20);
    }
}


.lollipop-effect {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    transform: scale(0);
    pointer-events: none;
    pointer-events: none;
    animation: clickeffect 1s ease;
    background-color: rgba(235, 80, 80, 0.4);
    z-index: 10;
}