@import "../../variables.scss";

.new>.bubble-container {
    margin-top: 0.6rem;
}

.in.bubble-container {
    justify-content: flex-start;
    padding-right: 10%;

    @media screen and (min-width: 760px) {
        padding-right: 20%;
    }
}

.out.bubble-container {
    justify-content: flex-end;
    padding-left: 10%;

    @media screen and (min-width: 760px) {
        padding-left: 20%;
    }
}

.bubble-container {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.menu {
    position: relative;

    .menu-inside {
        position: relative;
        top: .4rem;

        &.option {
            top: 1.4rem;
        }

        i {
            color: $secondary-color;
            font-size: 1.2rem;
        }
    }
}

.in {
    .menu {
        order: 2;
    }

    .bubble-box-inside {
        order: 1;
    }
}

.out {
    .menu {
        order: 1;
    }

    .bubble-box-inside {
        order: 2;
    }
}

.bubble-box-inside {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%
}

.bb-profile-box {
    position: relative;
    display: flex;
    width: auto;
}

.bb-avatar {
    flex: 0 0 auto;
    position: relative;
    margin-right: 0.6rem;

    .bb-avatar-inside {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 .1rem .3rem -.1rem rgba(0, 0, 0, .5);

        .avatar {
            width: 100%;
            height: 100%;
        }

        .avatar-default {
            width: 1.3rem;
            height: 1.3rem;
        }
    }
}

.bb-name-time.in {
    text-align: left;
}

.bb-name-time.out {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .read-msg {
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
    }

    .read-msg.read {
        background-color: $primary-color;
        box-shadow: 0rem .1rem .2rem -.2rem rgba(253, 0, 0, 0.5)
    }

    .read-msg.unread {
        background-color: #cccccc;
        box-shadow: 0rem .1rem .2rem -.2rem rgba(0, 0, 0, .5)
    }

    ._time {
        margin-left: .3rem;
    }
}

.bb-name-time {
    flex: 1 1 auto;
    position: relative;
    font-size: 0.75rem;
    color: $secondary-color;
}

.msg-box {
    position: relative;

    .msg-inside {
        padding: 0.563rem 0.75rem 0.5rem 0.688rem;
        // box-shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
        box-shadow: 0 .1rem .2rem -.1rem rgba(0, 0, 0, .3);
        position: relative;
        white-space: pre-wrap;
        word-wrap: break-word;

        .msg {
            font-size: 14px;
            line-height: .5rem;
        }
    }
}

.msg-box.out {
    margin-top: 0;
    margin-left: 0;

    .msg-inside {
        color: $msg-color;
        background-color: white;
        border-radius: 0.625rem 0.625rem 0 0.625rem;
    }
}

.msg-box.hide.in {
    margin-top: .2rem;
}

.msg-box.hide.out {
    margin-top: .2rem;
}

.msg-box.in {
    margin-top: -1.28rem;
    margin-left: 3.125rem;

    .msg-inside {
        color: white;
        background: rgb(236, 121, 121);
        background: linear-gradient(145deg,
                rgba(236, 121, 121, 1) 0%,
                rgba(135, 76, 76, 1) 87%);
        border-radius: 0 0.625rem 0.625rem;
    }
}